h1{
    text-align: center;
    margin: 25px auto 5px auto;
    text-decoration: underline;
    font-size: 5vh;
}

.content{
    padding: 40px;
    margin: 30px;
}

.myName{
    display: flex;
    gap: 10px;
}

.basicInfo{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
h4{
    text-align: center;
    border: 2px solid;
    width: 115px;
    height: 33px;
    border-radius: 35%;
    overflow: hidden;
    margin: 5px auto;
}
.primary{
    height: 10px;
    width: 15px;
    background-color: rgb(69, 68, 67);
    overflow: hidden;
    color: rgb(255, 255, 255);
}
.secondary{
    height: 10px;
    width: 15px;
    background-color: rgb(215, 56, 56);
    overflow: hidden;
    color: rgb(255, 255, 255);
}
.languages{
    display: flex;
    gap: 2px;
}

.aboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-top: 2px dotted;
    border-left: 2px dotted;
    font-size: 14px;
}

.foot{
    margin-top: 10px;
}