h1{
    text-align: center;
    margin: 25px auto 5px auto;
    text-decoration: underline;
    font-size: 5vh;
}

.content{
    padding: 40px;
    margin: 30px;
}

.myName{
    display: flex;
    gap: 10px;
}

.basicInfo{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
h4{
    text-align: center;
    border: 2px solid;
    width: 115px;
    height: 33px;
    border-radius: 35%;
    overflow: hidden;
    margin: 5px auto;
}
.primary{
    height: 10px;
    width: 15px;
    background-color: rgb(69, 68, 67);
    overflow: hidden;
    color: rgb(255, 255, 255);
}
.secondary{
    height: 10px;
    width: 15px;
    background-color: rgb(215, 56, 56);
    overflow: hidden;
    color: rgb(255, 255, 255);
}
.languages{
    display: flex;
    gap: 2px;
}

.aboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-top: 2px dotted;
    border-left: 2px dotted;
    font-size: 14px;
}

.gitStats{
    padding: 0;
    margin: 0;
}

.gitstatsMain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

}

.secondarystats{
    display: flex;
}

@media (max-width: 768px){
    .gitStats{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .gitstatsMain{
        margin: 0;
        padding: 0;
        height: 200px;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        border: 5px solid rgb(255, 0, 0);
    }
    .secondarystats{
        display: flex;
        justify-content: center;
    }
    .secondarystats .gitstats1{
        width: 70%;
        height: 200px;
    }
    .secondarystats .gitstats2{
        width: 70%;
        height: 200px;
    }
}

@media (max-width: 480px) {
    .gitstatsMain{
        width: 100%;
        border: 5px solid rgb(255, 0, 0);
    }
    .secondarystats{
        display: flex;
        justify-content: center;
    }
    .secondarystats .gitstats1{
        width: 70%;
        height: 200px;
    }
    .secondarystats .gitstats2{
        width: 70%;
        height: 200px;
    }
}